// закомменченные куски кода оставил осознанно

.block-title() {
  text-transform: none;

  color: @black;
  font-size: 24px;
  line-height: 26px;
}

.cat-data,
.program-type,
.cat-owner,
.comment,
.extra {
  border: none;

  padding-top: 34px;
  padding-bottom: 27px;
}

.form,
.form ::placeholder {
  text-transform: uppercase;

  font-family: "Oswald", "Arial", sans-serif;
  color: @dark-grey;
  font-size: 16px;
  line-height: 18px;
}

// .cat-data {
//   color: @dark-grey;
//   font-size: 16px;
//   line-height: 18px;
// }

.program-type {
  @border: 1px solid @border-grey;
  border-top: @border;
  border-bottom: @border;

  padding-top: 22px;
  padding-bottom: 22px;

  color: @nero-grey;
  // font-size: 16px;
  // line-height: 18px;
}

// .cat-owner {
//   color: @dark-grey;
//   font-size: 16px;
//   line-height: 18px;
// }

// .comment {
//   color: @dark-grey;
//   font-size: 16px;
//   line-height: 18px;
// }

.extra {
  color: @black;
  // font-size: 16px;
  // line-height: 18px;
}

.cat-owner__block-title,
.comment__block-title,
.extra__block-title {
  .block-title;
}

.form__submit-button {
  background-color: @basic-green;

  color: @white;
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
}

.form__footnote {
  text-transform: none;

  color: @black;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
