.main-nav--index {
  .main-nav__item {
    @media (min-width: @desktop-width) {
      color: @white;
    }
  }
}

.main-nav__toggle {
  display: block;
  box-sizing: border-box;
  padding: 0;
  width: 24px;
  height: 24px;
  top: 50px;
  background-color: @white;
  cursor: pointer;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: url("../../img/menu-toggle-closed.svg");
}

.main-nav--opened .main-nav__toggle::before {
  content: url("../../img/menu-toggle-opened.svg");
}

.main-nav__wrapper {
  width: 100%;

  position: absolute;
  left: 0;

  @media (min-width: @tablet-width) {
    position: static;
  }
}

.main-nav__list {
  padding: 0;

  border-bottom: @border;

  @media (min-width: @tablet-width) {
    display: flex;

    border-bottom: none;
  }
}

.main-nav--closed .main-nav__list {
  border-bottom: none;
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 23px;

  border-top: @border;

  text-align: center;

  @media (min-width: @tablet-width) {
    margin-left: 34px;
    padding: 0;
    border: 0;
  }
}

.main-nav--closed .main-nav__item {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}
