.page-footer {
  padding-top: 0; //28px;
  padding-bottom: 22px;

  background-color: @basic-grey;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__address-wrapper {
  padding: 14px 0 12px;
  background-color: @white;

  width: 100%;

  // display: flex;
  // justify-content: center; // space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;

  // justify-items: center;

  @media (min-width: @desktop-width) {
    position: absolute;
    // дальше там уже относительно карты укажу
  }
}

.page-footer__announcement {
  justify-self: center;

  text-transform: uppercase;

  color: @bronze-black;
  font-size: 16px;
  line-height: 18px; // 20px
}

.page-footer__address {
  justify-self: left;

  color: @dark-grey;
  font-family: "Arial", sans-serif;
  line-height: 20px;
}

.page-footer__map {
  width: 320px;
  height: 362px;
}

.page-footer__wrapper {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    margin-top: 57px;
  }
}

.page-footer__logo {
  padding-top: 35px;
  padding-bottom: 32px;
}

.page-footer__copyright {
  img {
    margin-top: 22px;
  }
}
