.page-footer {
  padding-top: 0;
  padding-bottom: 18px;

  background-color: @basic-grey;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.page-footer__address-wrapper {
  padding: 14px 0 12px;
  background-color: @white;

  &--form {
    background-color: @basic-grey;
  }

  width: 100%;

  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-top: 34px;
    padding-bottom: 45px;

    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    padding: 0;

    position: absolute;
    top: 115px;
    left: 110px;

    width: 570px;
    height: 201px;
  }
}

.page-footer__announcement {
  padding-top: 1px;
  padding-left: 6%;

  text-transform: uppercase;

  color: @bronze-black;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 14px;
    padding-left: 9.2%;

    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 48px;
    padding-left: 76px;
  }
}

.page-footer__address {
  padding-right: 7.5%;

  color: @dark-grey;
  font-family: "Arial", sans-serif;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 14px;
    padding-right: 9.4%;

    font-size: 16px;

    text-align: right;
  }

  @media (min-width: @desktop-width) {
    padding-top: 48px;
    padding-right: 90px;

    text-align: left;
  }
}

.page-footer__location {
  width: 100%;
}

.page-footer__map {
  width: 100%;
  height: 362px;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.page-footer__wrapper {
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 29px;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }

  @media (min-width: @desktop-width) {
    padding-top: 51px;
    padding-bottom: 19px;
  }
}

.page-footer__logo {
  .link-states;

  margin-bottom: -4px;
  padding-top: 35px;
  padding-bottom: 31px;

  @media (min-width: @tablet-width) {
    margin: 0;

    padding: 0;
    padding-top: 2px;
    padding-left: 3.9%;
  }

  @media (min-width: @desktop-width) {
    padding-left: 7.6%;
  }
}

.page-footer__copyright {
  .link-states;

  img {
    margin-top: 22px;

    @media (min-width: @tablet-width) {
      margin: 0;

      width: 163px;
      height: 34px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 1px;
    padding-right: 3.9%;
  }

  @media (min-width: @desktop-width) {
    padding-top: 8px;
    padding-right: 7.6%;
  }
}
