.page-main {
  padding: 0 20px;

  &--form,
  &--catalog {
    border-top: 1px solid @border-grey;
  }

  &--catalog {
    a,
    a:visited,
    a:active,
    a:hover {
      color: @white;
    }
  }
}

.page-main__title {
  font-size: 36px;
  line-height: 36px;
}

.page-main__instruction {
  text-transform: uppercase;

  font-size: 14px;
  line-height: 18px;
}
