.social__list {
  margin: 0;
  padding: 20px 0;

  border-top: @border;
  border-bottom: @border;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.social__item {
  margin: 0 18px;
}
