@index-width: 82px;
@index-width-tablet: 128px;

.grid-list() {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.example {
  margin: 0 -20px;
  padding: 27px 21px 20px 20px;

  background-color: @background-grey;

  @media (min-width: @tablet-width) {
    padding-top: 17px;

    background-color: @white;
  }
}

.example__number,
.example__item--nutrition .example__index,
.example__slider-before,
.example__slider-after {
  text-transform: uppercase;
}

.example__title {
  margin: 0;

  padding-bottom: 19px;

  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    margin-left: 10px;
    margin-bottom: 45px;

    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  margin-bottom: 24px;

  color: @dark-grey;
  font-family: "Arial", sans-serif;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    margin-left: 10px;
    margin-bottom: 53px;

    padding-right: 35px;

    font-size: 16px;
    line-height: 24px;
  }
}

.example__wrapper {
  @media (min-width: @tablet-width) {
    margin-left: -20px;
    margin-right: -20px;

    .example__description,
    .example__list {
      padding-left: 20px;
    }

    .example__list {
      padding-right: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: @background-grey;
  }
}

.example__list {
  .grid-list;

  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    .grid-list;
  }
}

.example__item {
  display: flex;
  flex-direction: column;

  position: relative;

  text-align: center;
  justify-content: center;

  width: 122px;
  height: 54px;

  border: @border;
  border-radius: 3px;

  &:nth-child(odd) {
    justify-self: start;
  }

  &:nth-child(even) {
    justify-self: end;
  }

  &:last-child {
    justify-self: center;
  }

  @media (min-width: @tablet-width) {
    margin-left: 10px;

    width: 160px;
    height: 70px;
  }
}

.example__index {
  color: @dark-grey;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;

  width: @index-width;
  background-color: @background-grey;

  position: absolute;
  top: 46px;
  left: calc(50% - @index-width / 2);

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;

    background-color: @white;

    width: @index-width-tablet;

    top: 62px;
    left: calc(50% - @index-width-tablet / 2);
  }
}

.example__number {
  margin: 0;
  padding-bottom: 2px;

  font-size: 24px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    padding-bottom: 6px;

    font-size: 30px;
    line-height: 37px;
  }
}

.example__item--nutrition {
  margin-top: 34px;

  flex-direction: row;

  width: 100%;

  grid-column-start: 1;
  grid-column-end: 3;

  border: none;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-left: 18.6%;
    padding-top: 11px;
    padding-right: 6px;

    width: auto;

    display: inline;

    text-align: right;

    font-size: 20px;
    line-height: 20px;
  }

  .example__index,
  .example__number {
    color: @black;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .example__index {
    width: auto;
    background-color: transparent;

    position: static;
  }

  .example__number {
    @media (min-width: @tablet-width) {
      padding-top: 9px;
      padding-right: 4px;
    }
  }
}

.example__comparison {
  background-color: @background-grey;

  text-align: center;

  position: relative; // стоит ли тут указывать, если это пригодится только в планшетной версии?

  @media (min-width: @tablet-width) {
    margin-top: 246px;
    padding-top: 331px;

    width: 100%;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
  }

  // временное решение
  &--before {
    @media (min-width: @tablet-width) {
      width: 708px;
      height: 620px;

      position: absolute;

      left: calc(50% - 708px / 2);

      bottom: 33px;
    }
  }
}

.example__slider {
  margin-top: 11px;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 50px;

    z-index: 1;
  }
}

.example__slider-before,
.example__slider-after {
  font-size: 16px;
  line-height: 20px;

  z-index: inherit;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.example__progress {
  width: 84px;
  height: 14px;

  z-index: inherit;

  @media (min-width: @tablet-width) {
    width: 428px;
    height: 6px;
  }
}
