@index-width: 82px;
@index-width-tablet: 128px;

.grid-list() {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.example {
  margin: 0 -20px;
  padding: 27px 21px 20px 20px;

  background-color: @background-grey;

  @media (min-width: @tablet-width) {
    padding-top: 17px;

    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.example__number,
.example__item--nutrition .example__index,
.example__slider-before,
.example__slider-after {
  text-transform: uppercase;
}

.example__title {
  margin: 0;

  padding-bottom: 19px;

  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    margin-left: 10px;
    margin-bottom: 45px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 57px;

    padding-left: 80px;
  }
}

.example__description {
  margin-bottom: 24px;

  color: @dark-grey;
  font-family: "Arial", sans-serif;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    margin-left: 10px;
    margin-bottom: 53px;

    padding-right: 35px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;

    padding-top: 55px;
    padding-right: 175px;
  }
}

.example__wrapper {
  @media (min-width: @tablet-width) {
    margin-left: -20px;
    margin-right: -20px;

    .example__description,
    .example__list {
      padding-left: 20px;
    }

    .example__description {
      @media (min-width: @desktop-width) {
        padding-left: 100px;
      }
    }

    .example__list {
      padding-right: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: @background-grey;
  }
}

.example__list {
  .grid-list;

  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin-top: 2px;

    .grid-list;
  }
}

.example__item {
  display: flex;
  flex-direction: column;

  position: relative;

  text-align: center;
  justify-content: center;

  width: 122px;
  height: 54px;

  border: @border;
  border-radius: 3px;

  &:nth-child(odd) {
    justify-self: start;

    @media (min-width: @desktop-width) {
      margin-left: 90px;
    }
  }

  &:nth-child(even) {
    justify-self: end;

    @media (min-width: @desktop-width) {
      margin-right: 224px;
    }
  }

  &:last-child {
    justify-self: center;

    @media (min-width: @desktop-width) {
      margin-left: 0;
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: 10px;

    width: 160px;
    height: 70px;
  }
}

.example__index {
  color: @dark-grey;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;

  width: @index-width;
  background-color: @background-grey;

  position: absolute;
  top: 46px;
  left: calc(50% - @index-width / 2);

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;

    background-color: @white;

    width: @index-width-tablet;

    top: 62px;
    left: calc(50% - @index-width-tablet / 2);
  }

  @media (min-width: @desktop-width) {
    background-color: @background-grey;
  }
}

.example__number {
  margin: 0;
  padding-bottom: 2px;

  font-size: 24px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    padding-bottom: 6px;

    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 4px;
  }
}

.example__item--nutrition {
  margin-top: 34px;

  flex-direction: row;

  width: 100%;

  grid-column-start: 1;
  grid-column-end: 3;

  border: none;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-left: 18.6%;
    padding-top: 11px;
    padding-right: 6px;

    width: auto;

    display: inline;

    text-align: right;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 173px;

    display: flex;
    align-self: center;

    .example__number {
      margin-left: 59px;
    }
  }

  .example__index,
  .example__number {
    color: @black;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .example__index {
    width: auto;
    background-color: transparent;

    position: static;
  }

  .example__number {
    @media (min-width: @tablet-width) {
      padding-top: 9px;
      padding-right: 4px;
    }

    @media (min-width: @desktop-width) {
      padding: 0;
    }
  }
}

.example__comparison {
  background-color: @background-grey;

  text-align: center;

  position: relative; // стоит ли тут указывать, если это пригодится только в планшетной версии?

  @media (min-width: @tablet-width) {
    margin-top: 246px;
    padding-top: 331px;

    width: 100%;
  }

  @media (min-width: @desktop-width) {
    margin-top: 331px;
    padding: 0;

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
  }

  // временное решение
  &--before {
    @media (min-width: @tablet-width) {
      width: 708px;
      height: 620px;

      position: absolute;

      left: calc(50% - 708px / 2);

      bottom: 33px;
    }

    @media (min-width: @desktop-width) {
      width: 690px;
      height: 656px;

      bottom: 5px;
    }
  }
}

.example__slider {
  margin-top: 12px;
  margin-left: 6px;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-left: 4px;

    padding-bottom: 49px;

    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    margin-left: 44px;

    justify-content: left;
  }
}

.example__slider-before,
.example__slider-after {
  font-size: 16px;
  line-height: 20px;

  z-index: inherit;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.example__progress {
  margin-left: 18px;
  margin-right: 17px;

  width: 31%;
  height: 14px;

  z-index: inherit;

  position: relative;

  padding: 6px;
  border: @border;
  border-radius: 6px;
  background-color: @white;

  &::after {
    @height: 6px;

    content: "";
    position: absolute;
    width: 42%;
    height: @height;
    background-color: @basic-green;
    border-radius: @height;
    top: calc(50% - @height / 2);
    left: 5px;
  }

  @media (min-width: @tablet-width) {
    margin: 0 3%;

    width: 56%;
    height: 6px;

    padding: 2px;
    border: @border;
    border-color: @progress-grey;
    background-color: @progress-grey;

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    width: 63.5%;
  }
}

.example__toggler {
  display: none;

  @media (min-width: @tablet-width) {
    @side: 34px;

    display: inline;
    position: absolute;

    left: calc(50% - @side / 2);

    z-index: 1;

    width: @side;
    height: @side;

    border: 1px solid @progress-grey;
    border-radius: 50%;

    background-color: @white;

    filter: drop-shadow(0 1px 3px @shadow-black);

    &::after {
      @smaller-side: 8px;

      content: "";
      position: absolute;
      width: @smaller-side;
      height: @smaller-side;
      background-color: @basic-green;
      border-radius: 4px;
      bottom: calc(50% - @smaller-side / 2);
      left: calc(50% - @smaller-side / 2);
    }
  }

  @media (min-width: @desktop-width) {
    left: 42.9%;
  }
}
