.product-description {
  padding-top: 27px;
  padding-bottom: 42px;
}

.product-description__title {
  font-size: 36px;
  line-height: 40px;
}

.product-description__list {
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-description__description {
  color: @dark-grey;

  font-family: "Arial", sans-serif;
  line-height: 18px;
}
