.promo {
  margin: 0 -20px;
  padding-top: 27px;

  color: @white;

  background-image: url("../../img/promo-background-image.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    padding-bottom: 526px;
    padding-left: 110px;

    color: inherit;

    background-image: none;

    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    margin-top: -96px;

    padding-top: 96px;
    padding-bottom: 267px;

    background-image: url("../../img/promo-background-image.jpg");
    background-size: 720px 694px;
    background-position: top -96px right;
  }
}

.promo__title {
  margin-top: 1px;
  margin-bottom: 25px;

  padding-left: 1px;

  font-size: 36px;
  line-height: 36px;

  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 43px;
    padding-left: 7px;

    font-size: 60px;
    line-height: 60px;

    text-align: left;
  }
}

.promo__tagline {
  margin-top: 0;
  margin-bottom: 29px;

  padding-right: 1px;

  text-transform: uppercase;

  line-height: 14px;

  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;

    padding-left: 7px;
  }
}

.promo__product-image {
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 321px;
    left: 29px;

    width: 709px;
    height: 609px;

    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 96px;
    right: 328px;

    z-index: 0;
  }
}

.promo__pick-program-button {
  background-color: @basic-green;

  font-family: inherit;
  color: @white;
  font-size: inherit;
  line-height: 18px;

  width: 280px;
  height: 42px;
  border: none;

  &:hover {
    background-color: @basic-green-hover;
  }

  &:active {
    background-color: @basic-green-hover;

    span {
      opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: 2px;

    width: 244px;
    height: 54px;

    order: 2;
  }
}
