.promo {
  margin: 0 -20px;
  padding-top: 29px;

  color: @white;

  background-image: url("../img/index/promo-background-image-mobile.jpg");
  background-size: 320px 302px;
  background-position: top center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/promo-background-image-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    padding-top: 20px;
    padding-bottom: 526px;
    padding-left: 110px;

    color: inherit;

    background-image: none;

    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    margin-top: -127px;

    padding-top: 226px;
    padding-left: 182px;
    padding-bottom: 267px;

    background-image: url("../img/index/promo-background-image-desktop.jpg");
    background-size: 720px 694px;
    background-position: top right;

    @media (min-resolution: 2d) {
      background-image: url("../img/index/promo-background-image-desktop@2x.jpg");
    }
  }
}

.promo__title {
  margin-top: -1px;
  margin-bottom: 25px;

  padding-left: 1px;

  font-size: 36px;
  line-height: 36px;

  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: -3px;
    margin-bottom: 44px;
    padding-left: 7px;

    font-size: 60px;
    line-height: 60px;

    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding-left: 8px;
  }
}

.promo__tagline {
  margin-top: 0;
  margin-bottom: 29px;

  padding-right: 1px;

  text-transform: uppercase;

  line-height: 14px;

  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;

    padding-left: 8px;
  }
}

.promo__product-image {
  margin-bottom: -1px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 321px;
    left: 29px;

    width: 709px;
    height: 609px;

    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    top: 142px;
    left: 559px;

    width: 552px;
    height: 499px;

    z-index: 0;
  }
}

.promo__pick-program-button {
  .green-button;
}
