.form,
.form ::placeholder {
  text-transform: uppercase;

  font-family: "Oswald", "Arial", sans-serif;
  color: @dark-grey;
  font-size: 16px;
  line-height: 18px;
}

.form__cat-and-program-wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__ending-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__submit-button {
  background-color: @basic-green;

  color: @white;
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
}

.form__footnote {
  text-transform: none;

  color: @black;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
