.program-type {
  .form-block;

  border-top: @border;
  border-bottom: @border;

  padding-top: 22px;
  padding-bottom: 22px;

  color: @nero-grey;

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    border: @border;
  }
}
