.catalog {
  margin-top: 40px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-top: 154px;
    margin-bottom: 47px;

    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    margin-top: 156px;

    padding-left: 50px;
    padding-right: 50px;

    grid-template-columns: repeat(4, 1fr);
  }
}
