.extra-goods__heading {
  margin-top: 11px;
  margin-bottom: 35px;

  font-size: 24px;
  line-height: 24px;

  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 80px;
    margin-left: 47px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      width: 4.4%;
      height: 2px;

      position: absolute;

      top: 22px;
      left: -67px;

      background-color: @basic-green;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 18px;
    margin-left: 90px;

    &::before {
      width: 7.3%;

      top: 23px;
      left: -110px;
    }
  }

  &::after {
    content: "";
    width: 19%;
    height: 2px;

    position: absolute;

    top: 15px;
    right: -20px;

    background-color: @basic-green;

    @media (min-width: @tablet-width) {
      width: 48%;

      top: 22px;
    }

    @media (min-width: @desktop-width) {
      width: 99.7%;

      top: 23px;
      right: -370px;
    }
  }
}

.extra-goods__catalog-extra {
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-left: 10px;
    margin-bottom: 60px;
    margin-right: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 64px;
    margin-left: 91px;
  }
}
