.gift {
  margin-top: 22px;
  margin-bottom: 18px;

  padding-top: 171px;
  padding-bottom: 43px;

  width: 280px;

  background-image: url("../img/catalog/gift-background-image-mobile.jpg");
  background-size: 280px 289px;
  background-repeat: no-repeat;

  position: relative;

  align-self: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog/gift-background-image-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 75px;

    padding-top: 56px;
    padding-bottom: 52px;

    width: 708px;

    background-image: url("../img/catalog/gift-background-image-tablet.jpg");
    background-size: 708px 200px;

    background-position-x: center;

    // background-size: cover; // temporary solution

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/gift-background-image-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 134px;
    margin-right: 0;
    margin-left: 15px;
    margin-bottom: 66px;

    padding-top: 147px;
    padding-bottom: 26px;

    width: 245px;

    background-image: url("../img/catalog/gift-background-image-desktop.jpg");
    background-size: 245px 289px;

    flex-direction: column;
    justify-content: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/gift-background-image-desktop@2x.jpg");
    }
  }
}

.gift__text {
  padding-right: 3px;

  font-family: "Arial", sans-serif;
  color: @white;
  font-size: 16px;
  line-height: 20px;

  text-align: center;

  @media (min-width: @tablet-width) {
    margin-right: 125px;

    padding: 0;

    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-top: 40px;
    margin-right: 2px;

    padding: 0;

    text-align: center;
  }

  &::before {
    content: url("../img/catalog/gift.svg");

    position: absolute;
    top: 58px;
    right: 36%;

    @media (min-width: @tablet-width) {
      right: 77.8%;
    }

    @media (min-width: @desktop-width) {
      right: 33.5%;
    }
  }
}
