.gift {
  margin-top: 39px;
  margin-bottom: 35px;

  padding-top: 58px;
  padding-bottom: 43px;

  width: 280px;

  background-image: url("../../img/gift-background-image.jpg");
  background-repeat: no-repeat;
}

.gift__text {
  font-family: "Arial", sans-serif;
  color: @white;
  font-size: 16px;
  line-height: 20px;
}
