// .button-tablet() {

// }

.item {
  margin-right: -20px;
  margin-left: -20px;
  padding: 20px;
  padding-bottom: 24px;

  border-top: @border;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 140.5px;

    width: 80.1%;

    border: none;

    background-color: @basic-grey;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    &:nth-child(even) {
      justify-self: right;

      @media (min-width: @desktop-width) {
        justify-self: center;
      }
    }

    &:nth-last-of-type(-n+2) {
      margin-bottom: 0;

      @media (min-width: @desktop-width) {
        margin-bottom: auto;
      }
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 143px;

    padding-left: 0;
    padding-right: 0;

    width: 245px;

    justify-self: center;

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }

  &--show-more {
    padding-top: 62px;

    border-bottom: @border;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: top 25px center;

    .item__name {
      margin-bottom: 0;

      text-transform: uppercase;

      color: @bronze-black;
      font-size: 16px;
      line-height: 20px;

      @media (min-width: @tablet-width) {
        margin-top: 0;
        margin-left: 2px;
        margin-bottom: 16px;

        font-size: 20px;
        line-height: 22px;
      }

      @media (min-width: @desktop-width) {
        margin-left: 1px;
      }
    }

    .item__tagline {
      margin-top: 8px;
      margin-right: 1px;

      @media (min-width: @tablet-width) {
        margin-bottom: 87px;
        margin-left: 2px;

        font-size: 16px;
        line-height: 18px;
      }

      @media (min-width: @desktop-width) {
        margin-bottom: 84px;
        margin-left: 1px;
      }
    }

    @media (min-width: @tablet-width) {
      margin-top: 1px;
      padding-top: 159px;

      width: 79%;

      background-color: inherit;

      border: 2px solid @basic-grey;

      justify-content: flex-start;

      background-size: 60px;
      background-position: top 50px center;
    }

    @media (min-width: @desktop-width) {
      padding-top: 158px;

      width: 241px;
    }
  }
}

.item__picture {
  justify-self: center;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -71px;

    img {
      width: 168px;
      height: 200px;
    }
  }

  @media (min-width: @desktop-width) {
    top: -80px;
  }
}

.item__data-wrapper {
  @media (min-width: @tablet-width) {
    margin-top: 141px;
    margin-right: -3px;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 141px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.item__name {
  h3 {
    margin-top: 0;
    margin-right: 40px;
    margin-bottom: 14px;

    color: @nero-grey;
    font-size: 16px;
    line-height: 20px;

    @media (min-width: @tablet-width) {
      margin: 0;
      margin-bottom: 21px;

      font-size: 20px;
      line-height: 24px;

      text-align: center;
    }
  }

  &:visited,
  &:active,
  &:hover {
    h3 {
      color: @nero-grey;
    }
  }
}

.item__order-button {
  .green-button;

  margin-top: 1px;

  background-color: @basic-green;

  font-size: 16px;
  line-height: 20px;

  grid-column-start: 1;
  grid-column-end: 3;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  justify-self: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 16px;

    width: 248px;
    height: 39px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 16px;
    margin-left: 0;

    width: 168px;
    height: 40px;
  }
}

.item__tagline {
  margin-bottom: 21px;

  font-family: "Arial", sans-serif;
  color: @dark-grey;
  font-size: 12px;
  line-height: 16px;
}

.item__show-more-button {
  .green-button;

  background-color: @basic-grey;

  font-family: "Oswald", "Arial", sans-serif;
  color: @dark-grey;
  font-size: 16px;

  align-self: center;

  &:hover {
    background-color: @button-hover-grey;
  }

  &:active {
    background-color: @button-hover-grey;
  }

  @media (min-width: @tablet-width) {
    width: 248px;
    height: 39px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 14px;
    margin-left: 0;

    width: 169px;
    height: 40px;
  }
}
