.item-extra {
  margin-bottom: 17px;

  border-top: @border;
  display: flex;
  flex-direction: column;

  &:last-child {
    padding-bottom: 17px;

    border-bottom: @border;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;

    padding: 37px;
    padding-top: 13px;
    padding-bottom: 27px;

    border: @border;

    &:not(:first-child) {
      border-top: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;

    border-left: none;
    border-right: none;

    flex-direction: row;
    justify-content: space-between;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.item-extra__data {
  @media (min-width: @tablet-width) {
    margin-bottom: 7px;

    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;

    width: 611px;
  }
}

.item-extra__name {
  h3 {
    margin-top: 13px; // 0
    margin-bottom: 0;
    margin-left: 1px;

    color: @nero-grey;
    font-size: 16px;
    line-height: 16px;

    @media (min-width: @tablet-width) {
      margin-top: 12px;
      margin-left: 0;

      font-size: 20px;
      line-height: 20px;

      align-self: center;
    }
  }

  &:visited,
  &:active,
  &:hover {
    h3 {
      color: @nero-grey;
    }
  }
}

.item-extra__order-button {
  .green-button;

  margin-right: 0;

  background-color: @basic-green;

  font-size: 16px;
  line-height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  align-self: center;

  @media (min-width: @tablet-width) {
    margin-left: 0;

    height: 38px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    margin-right: 1px;
    margin-bottom: 16px;

    width: 244px;
    height: 40px;
  }
}
