@black: #000000;
// @shadow-black: rgba(0, 0, 0, 0.16);
@bronze-black: #111111;
@white: #ffffff;
@basic-grey: #f2f2f2;
@nero-grey: #222222;
@dark-grey: #444444;
@border-grey: #E6E6E6;
@background-grey: #eaeaea;
@hover-grey: #BABABA;
@input-grey: #d9d9d9;
@input-hover-border-grey: #CDCDCD;
@input-grey: #E7E7E7;
@progress-grey: #DCDCDC;
// пока оставлю на всякий случай
// @light-green: rgba(104, 183, 56, 0.85);
@basic-green: #68B738;
@basic-green-hover: #5EAA2F;
@error-red: #FF8282;

@border: 1px solid @border-grey;
@border-input: 1px solid @input-grey;
// @border-input-hover: 1px solid @hover-grey;
@border-input-grey: 1px solid @input-grey;
@border-green: 2px solid @basic-green;
@border-dark: 2px solid @dark-grey;
@border-red: 2px solid @error-red;

@tablet-width: 768px;
@desktop-width: 1440px;
// пока оставлю на всякий случай
// @mobile-width-only: 767px;
